$media-sm: '(max-width: 649px)';
$media-lg: '(min-width: 650px)';

$font-base: "Roboto", sans-serif;
$font-header: "Roboto Slab", serif;

$color-fs-red:#f52463;

$menu-height: 60px;
$main-padding: 30px;
$main-radius: 3px;

@mixin text-outline($color){
	text-shadow: -1px -1px 0 $color,
		1px -1px 0 $color,
		-1px 1px 0 $color,
		1px 1px 0 $color;
}
@function wrap($list, $prefix, $suffix){
	$output: "";
	@each $item in $list{
		$output: $output + $prefix + $item + $suffix;
	}
	@return $output;
}

// Outlines
:root, body, header, nav, a{
	// outline:1px solid red;
}

@import "nav.scss";

// Reset
*{
	margin:0;
	border:0;
	padding:0;
	font-size:inherit;
	font-family:inherit;
	font-weight:inherit;
	font-style:inherit;
	border-collapse:collapse;
	text-decoration:inherit;
	color:inherit;
	list-style:none;
}
*:focus{
	outline:none;
}
:root, body{
	width:100vw;
	max-width:100%;
	min-height:100vh;
	overflow-x:hidden;
	background-color:#000;
}
div, main, header, section, article{
	position:relative;
}

:root{
	font-family:$font-base;
	font-size:16px;
	line-height:1.9em;
	font-weight:400;
}
main{
	h1,h2,h3,h4,h5,h6,
	blockquote, pre,
	p, dl, ul, ol,
	iframe, table,
	hr{
		margin:1rem $main-padding;
	}
	ul, ol{
		padding-left:$main-padding;

		ul, ol{
			margin:0;
		}
		& > li{
			margin-bottom:1rem;
			& > p{
				margin-left:0;
				margin-right:0;
			}
		}
	}
	dl{
		dl{
			margin-top:0;
			margin-bottom:0;
		}
		dd{
			padding-left:$main-padding;
		}
	}

	hr{
		border-bottom:1px solid #ccc;
	}
	pre, code, kbd{
		font-family:monospace;
	}
	h1{
		font-family:$font-header;
		font-weight:400;
		font-size:75px;
		line-height:80px;
	}
	h2{
		font-family:$font-header;
		font-weight:400;
		font-size:48px;
		line-height:54px;
	}
	h3{
		font-family:$font-header;
		font-weight:400;
		color:#444;
		border-bottom:1px solid #666;
		font-size:36px;
		line-height:44px;
	}
	h4{
		font-family:$font-base;
		font-weight:100;
		font-size:36px;
		line-height:44px;
	}
	h5{
		font-family:$font-base;
		font-weight:bold;
		font-size:1rem;
		border-bottom:1px solid #000;
	}
	h6{
		font-family:$font-base;
		font-weight:400;
		font-size:1rem;
		color:#666;
		text-decoration:underline;
	}
	h1,h2,h3,h4,h5,h6{
		a{
			color:#000;

			&:hover{
				color:$color-fs-red;
			}
		}
	}
	ul > li{
		list-style-position:outside;
		list-style-type:disc;
	}
	ol > li{
		list-style-position:outside;
		list-style-type:decimal;
	}
	dt{
		font-size:1rem;
		text-decoration:underline;
	}
	pre{
		background-color:#eee;
		border-radius:$main-radius;
		padding:5px 10px;
		& > code{
			margin: 0 !important;
		}
	}
	code{
		margin:0 3px;
	}
	em{
		font-style:italic;
	}
	strong{
		font-weight:bold;
		color:#000;
		text-shadow:1px 1px 0px #ddd;
	}
	del{
		text-decoration:line-through;
	}
	a[href]{
		color:$color-fs-red;
		border-bottom:1px dotted $color-fs-red;
		transition:color 0.2s;
	
		&:hover{
			color:#000;
		}
	}
	p{
		@media #{$media-lg}{
			text-align:left;
		}
		@media #{$media-sm}{
			text-align:justify;
		}
	}
	table{
		th{
			font-weight:bold;
			text-decoration:underline;
		}
		th, td{
			padding:0 1em;
		}
		thead{
			background-color:#666;
			color:#fff;
		}
		tbody{
			tr:nth-child(even){
				background-color:#eee;
			}
		}
	}
	blockquote{
		font-style:italic;
		padding-left:1em;
		color:#666;
		border-left:1px solid #ccc;
		p{
			margin-left:0;
		}
	}
}
main{
	background-color:#fff;
	overflow:hidden;

	$fullpage-classes: ".hero", ".spread", ".video";
	#{wrap($fullpage-classes, "", ":first-child,")}{
		margin-top:-($menu-height);
	}
	&:first-child#{wrap($fullpage-classes, ":not(", ")")}{
		padding-top:$main-padding;
		margin-left:$main-padding;
		margin-right:$main-padding;
	}
}

.hero{
	display:flex;
	flex-direction:column;
	justify-content:center;
	text-align:center;
	height:100vh;
	width:100%;
	background-size:cover;
	background-position:center center;
	color:#fff;
	@include text-outline(rgba(0,0,0,0.5));

	h1{
		margin-top:0;
		margin-bottom:0;
		& ~ p{
			font-size:36px;
			line-height:40px;
			text-align:center;
			margin-top:0;
			margin-bottom:0;
		}
	}
	&:before{
		content:' ';
		display:block;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-color:rgba(0,0,0,0.5);
		z-index:0;
	}
	*{
		z-index:10;
	}
}
.spread{
	&.half{
		background-color:#000;
		.spread-content{
			color:#fff;
			z-index:10;
			a{
				color:#fff;
				&:hover{
					color:$color-fs-red;
				}
			}
		}
		.spread-image{
			z-index:1;
		}
		@media #{$media-lg}{
			display:flex;
			flex-direction:row;
			height:90vh;
			overflow:hidden;
			& > *{
				flex-basis:50%;
				flex-shrink:0;
				flex-grow:0;
			}
			.spread-content{
				align-self:center;
				box-sizing:border-box;
				padding-top:2rem;
				padding-bottom:2rem;
			}
			.spread-image{
				align-self:stretch;
				background-color:#ccc;
				background-size:cover;
				background-repeat:no-repeat;
				background-position:center top;
				border:0 !important;
			}
		}
		@media #{$media-sm}{
			display:flex;
			flex-direction:column;
			justify-content:center;
			overflow:hidden;
			height:90vh;
			.spread-content{
				text-shadow:1px 1px 0 #000;
				transition:opacity 3s;
			}
			.spread-image{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				opacity:0.4;
				background-size:cover;
				background-position:center center;
				transition:opacity 3s;
			}
			&:hover{
				.spread-content{
					opacity:0.8;
				}
				.spread-image{
					opacity:0.8;
				}
			}
		}
	}
	&.full{
		.spread-content{
			font-weight:bold;
			background-color:rgba(255, 255, 255, 0.95);
			color:#000;
			z-index:10;
			a{
				color:#000;
				&:hover{
					color:$color-fs-red;
				}
			}
		}
		.spread-image{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background-size:cover;
			z-index:1;
		}

		@media #{$media-lg}{
			height:90vh;
			overflow:hidden;

			.spread-content{
				width:50%;
				min-height:50%;
				padding:$main-padding 0;
			}
			.spread-image{
				background-position:center center;
			}
		}
		@media #{$media-sm}{
			overflow:hidden;
			min-height:60vh;
			padding-bottom:5rem;

			.spread-content{
				color:#000;
				z-index:10;
				font-weight:bold;
				margin:$main-padding;
				padding:$main-padding 0;
				background-color:rgba(255, 255, 255, 0.95);
				margin-bottom:3rem;
			}
			.spread-image{
				background-position:center bottom;
			}
		}
	}
}
.video{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width:100%;
	height:90vh;
	background-color:#000;
	text-align:center;
	.video-title{
		position:relative;
		overflow:hidden;
		z-index:10;
		text-align:center;
		color:#fff;
		text-shadow:1px 1px 0 #000;
	}
	.video-trigger{
		position:relative;
		font-size:80px;
		z-index:10;
		color:#fff;
		opacity:0.8;
		transition:opacity 0.2s;
		cursor:pointer;
		&:hover{
			opacity:1;
		}
	}
	.video-image{
		display:block;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-size:cover;
		background-position:center top;
		opacity:0.3;
		z-index:1;
		cursor:pointer;
		transition:opacity 3s;
	}
	.video-image:hover,
	.video-trigger:hover + .video-image{
		opacity:0.8;
	}
	iframe{
		display:none;
	}

	&.active{
		.video-title,
		.video-trigger,
		.video-image{
			display:none;
		}
		iframe{
			display:block;
			width:100%;
			height:100%;
		}
	}
}