nav{
	a{
		color:#fff;
		@include text-outline(rgba(0,0,0,0.3));
	}
	.nav-logo{
		img{
			transition:transform 0.2s;
		}
		&:hover, &:active{
			img{
				transform:rotateZ(5deg);
			}
		}
	}
	.nav-directory{
		transition:color 0.2s;
		&:hover{
			color:$color-fs-red;
		}
	}
	.nav-flex{
		border:0;
	}
	.nav-social{
		a{
			font-size:0;
			span{
				font-size:16px;
				color:#fff;
				transition: color 0.2s;
			}
			&:hover, &:active{
				span{
					color: inherit;
				}
			}
		}
	}

	@media #{$media-lg}{
		display:flex;
		flex-direction:row;
		flex-wrap:nowrap;
		background-color:#000;

		.nav-logo,
		.nav-directory,
		.nav-flex,
		.nav-social{
			line-height:$menu-height;
			height:$menu-height;
		}

		.nav-logo{
			position:relative;
			flex-grow:0;
			width:80px;
			a{
				position:absolute;
				z-index:999;
				width:100%;
				img{
					display:block;
					width:100%;
				}
			}
		}
		.nav-directory{
			flex-grow:1;
			padding-right:10px;
		}
		.nav-flex{
			flex-grow:10;
		}
		.nav-social{
			flex-grow:0;
			padding-right:10px;

			a{
				display:inline-block;
				text-align:center;
				padding:0 5px;
				line-height:60px;
				span{
					line-height:inherit;
				}
			}
		}
	}
	@media #{$media-sm}{
		display:flex;
		flex-direction:row;
		flex-wrap:nowrap;

		$logo-width:80px;

		.nav-logo,
		.nav-directory{
			line-height:$menu-height;
			background-color:#000;
		}
		.nav-logo{
			flex-grow:0;
			position:relative;
			width:$logo-width;
			a{
				position:absolute;
				z-index:999;
				width:100%;
				img{
					display:block;
					width:100%;
				}
			}
		}
		.nav-directory{
			flex-grow:1;
		}
		.nav-social{
			position:absolute;
			top:$menu-height;
			left:$logo-width;
			z-index:999;

			a{
				display:inline-block;
				padding:0 10px;
				line-height:30px;
				span{
					line-height:inherit;
				}
			}
		}
	}
}
footer{
	background-color:#000;
	color:#aaa;

	.footer-directory{
		padding:0;
		a{
			color:#fff;
			border-bottom:1px dotted #aaa;
			transition:color 0.2s;
			&:hover{
				color:$color-fs-red;
			}
		}
	}
	.footer-flex{
		border:0;
	}
	.footer-social{
		a{
			font-size:0;
			span{
				font-size:25px;
				line-height:30px;
				transition:color 0.2s;
			}
			&:hover{
				span{
					color:#fff;
				}
			}
		}
	}

	@media #{$media-lg}{
		display:flex;
		flex-direction:row;
		align-items:center;
		padding:$main-padding;
		
		.footer-directory{
			text-align:left;
			li{
				display:inline-block;
			}
			a{
				margin-right:10px;
			}
		}
		.footer-flex{
			flex-grow:1;
		}
		.footer-social{
			text-align:right;
			a{
				display:inline-block;
				span{
					text-align:right;
					padding-left:20px;
				}
			}
		}
	}
	@media #{$media-sm}{
		padding:$main-padding;
		.footer-social{
			a{
				display:inline-block;
				span{
					padding:10px 10px 10px 0;
				}
			}
		}
	}
}